  <div class="container my-2">
    <h2 class="text-center my-3 py-3">
      About Me
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/ghazalpro/image/upload/v1642942862/portfolio/designer_ohakm3.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">As A Designer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/ghazalpro/image/upload/v1642942862/portfolio/developer_yzewuw.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">As A Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/ghazalpro/image/upload/v1642942862/portfolio/ententainer_qicoki.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">As an Entertainer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="container  col-md-6">
    <h1 class="my-4">My Coding Videos</h1>
    <div>
      <div class="text-center embed-responsive embed-responsive-16by9">
        <iframe width="700" height="315" src="https://www.youtube.com/embed/ESky4QTOVZo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maiores sit blanditiis ex distinctio
        in
        non
        quibusdam accusamus, delectus facilis ad placeat reprehenderit, aliquid ut veniam. Quidem, maxime!
        Enim,
        error.</p>
    </div>
  </div>
