{% extends "base.html" %}

{% block title%} Project Detail {% endblock title%}

{% block body %}
<div class="container my-4">
    <h2 class="text-center my-3 py-3"><a href="{% url 'home:project-detail' project.slug %}">{{project.title}}</a></h2>
    <div class="col-md-10">
        <div class="card">
            <img class="card-img-top" src="{{project.image}}" alt="Card image cap" height="400" width="400">
            <small class="mt-2 mx-2">Started at: {{project.started_at}}</small>
            <small class="my-2 mx-2">Finished at: {{project.finished_at}}</small>
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description}}.</p>
                <br>
                <br>
            </div>
        </div>
    </div>

</div>
{% endblock body %}